@font-face {
    font-family: 'Pushkin';
    src: url('Pushkin.woff2') format('woff2'),
        url('Pushkin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

